body{
  background: url(background.jpg);
  background-color: #f6774c;
  font-family: 'Catamaran';
  font-size: 20px;
}

.sd{
  background-color: #333;
  width: 0%;
  height: 100%;
  animation: sd_open 4s;
}

.content{
  animation: start_delay 5s;
}

.navbar{
  height: 100%;
  width: 70px;
  background-color: #1f1f1f;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 0;
  left: -75;
  transition: all 0.5s;
}

.navbutton{
  width: 70px;
  height: 70px;
  margin-top: 5px;
  background-color: inherit;
  border: none;
  color: #fff;
  font-family: 'Lobster';
  font-size: 18px;
  transition: all 0.25s;
}

.navbutton:hover{
  background-color: #f6774c;
  color: #002;
  cursor: pointer;
}

.topnavbar{
  display: none;
}

.top-flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #002;
  color: #fff;
  font-family: 'Cormorant Upright';
  font-size: 40px;
  text-shadow: 0px 2px 16px #f6774c;
  background-image: url(homebg.jpg);
  background-size: cover;
}

.welcome{
  font-size:120px;
  font-family: 'Cinzel Decorative';
}

.about{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f45925;
  height: 310px;
  width: 60%;
  border-left: double 100px #fff;
  border-right: double 100px #fff;
}

.profile-image{
  margin-top: 10px;
  margin-right: 25px;
}

.profile-text{
  height: 300px;
  width: 600px;
  background-color: inherit;
}

.skills{
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-top: solid 20px #f45925;
  border-left: solid 20px #da3f0b;
  border-bottom: solid 20px #912a08;
  border-right: solid 20px #aa3109;
  background-color: #fab59e;
}

.work{
  margin-top: 200px;
  background-color: #f9a386;
}

.swork{
  display: none;
}

.subwork{
  width:100%;
  height: 260px;
  background-color: #ccc;
}

.work-list{
  display: flex;
  justify-content: center;
}

.tile{
  position: relative;
  margin-left: 15px;
}

.tile:hover .tile-overlay{
  opacity: 1;
  box-shadow: 2px 4px 8px black;
}

.tile-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  opacity: 0;
  font-family: 'Lobster';
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s;
  background-color: #f6774c;
}

.contact{
  display: flex;
  color: #fff;
  margin-top: 200px;
  width: 100%;
  height: 75%;
  background-color: #002;
}

input{
  margin-top: 20px;
}

input[type=text]{
  width: 200px;
  border-radius: 2px;
  margin-left: 20px;
}

input[type=submit]{
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border: solid 4px #f6774c;
  transition: all 0.5s;
}

input[type=submit]:hover{
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  background-color: #f6774c;
}

.social_q{
  display: flex;
  justify-content: center;
}

.icon{
  position: relative;
}

.icon:hover .icon_overlay{
  opacity: 1;
}

.icon_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  opacity: 0;
  transition: all 0.25s;
}

.footer{
  background-color: #444;
  color: #aaa;
  padding: 30px;
}

/*responsive (phone)*/
@media only screen and (max-width: 600px) {

  .navbar{
    display: none;
  }

  .topnavbar{
    display: block;
    width: 100%;
    background-color: #1f1f1f;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    top: -80;
    transition: all 0.5s;
  }

  .navbutton{
    font-size: 15px;
  }

  .top-flexbox{
    font-size: 25px;
    height: 90%;
    border-bottom: 70px solid #fa9;
    background-image: none;
  }

  .welcome{
    font-size: 50px;
  }

  .about{
    background-image: url(../profile_image.jpg);
    border: solid;
    display: flex;
    font-size: 16px;
    padding: 5px;
  }

  .profile-image{
    display: none;
  }

  .profile-text{
    opacity: 0.8;
  }

  .skills{
    font-size: 15px;
  }

  .work{
    display: none;
  }

  .swork{
    display: block;
    font-size: 15px;
    color: #fff;
    background-color: #002;
  }

  .ssubwork{
    background-image: linear-gradient(to bottom, #f30, #f6774c);
    color: #fff;
  }

  .stile{
    position: relative;
    padding: 5px;
  }

  .stile:hover .stile-overlay{
    opacity: 1;
    box-shadow: 2px 4px 8px black;
  }

  .stile-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0;
    font-family: 'Lobster';
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s;
    background-color: #f6774c;
  }

  .contact{
    display: none;
  }

  .scontact{
    color: #fff;
    background-color: #002;
    border-bottom: 8px dashed #fff;
  }

  .footer{
    font-size: 15px;
  }
}

/*animations*/
@keyframes sd_open {
  0% {
    display: block;
    width: 50%;
  }
  50% {width: 50%;}
  100% {width: 0%;}
}

@keyframes start_delay {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
