h1{
  color:#0a0;
}

.base{
  width: 265px;
  height: 335px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #888;
  margin-top: 50px;
  margin-bottom: 50px;
  border-right: #666 solid 5px;
  border-bottom: #444 solid 5px;
}

.input{
  width: 50px;
  height: 50px;
  background-color: #ccc;
  margin: 5px;
  margin-right: 0px;
  border-width: 2px;
  border-color: #555;
}

.input:hover{
  background-color: #fff;
  border-color: #777;
  cursor: pointer;
  box-shadow: 1px 2px 10px black;
}

.operator{
  width: 75px;
  height: 50px;
  background-color: #aaa;
  margin: 5px;
  margin-right: 0px;
  border-width: 2px;
  border-color: #555;
  font-weight: 900;
}

.operator:hover{
  background-color: #ccc;
  border-color: #777;
  cursor: pointer;
  box-shadow: 1px 2px 10px black;
}

.displayer{
  width: 255px;
  height: 35px;
  border-top: #888 solid 5px;
  background-color: #666;
  margin: 5px;
  color: #fff;
  text-align: right;
  font-size: 20px;
}

.go-button{
  width: 265px;
  height: 45px;
  background-color: white;
  border: #888 solid 5px;
  font-style: italic;
}

.go-button:hover{
  background-color: #0a0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
