@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body{
	background-color: #ccf;
}

a:link {
  text-decoration: none;
	color: #fff;
}

a:visited {
  text-decoration: none;
	color: #fff;
}

a:hover {
  text-decoration: none;
	color: #4af;
}

a:active {
  text-decoration: underline;
}

.title{
	font-size: 60px;
	color: #337;
}

.navbar{
	height: 100%;
	width: 350px;
	background-color: #337;
	position: fixed;
	z-index: 1;
	top: 0;
	left: -310px;
	transition: all 0.5s;

	color: white;
	padding: 10px;
	padding-top: 12.5%;

	font-family: 'Bai Jamjuree';
}

.navbar ul{
	list-style-type: none;
}

.navbar:hover{
	left: 0;
}

.pull{
	margin-left: 307px;
}

.family{
	font-size: 35px;
	color: #fff;
	background-color: #337;
	padding-left: 200px;
}

.question{
	font-size: 25px;
	margin-left: 80px;
}

.subtitle{
	margin-left: 80px;
}

.answer{
	font-size: 20px;
	margin-left: 100px;
}

.footer{
	top: 25px;
	border-top: solid 20px #337;
	height: 150px;
	background-color: #333;
	color: white;
	position: relative;
}
